{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<style>

    .contact-section{
        background-color:#DEB887;
    }
    h6, button{
        text-align: center;
    }

    form{
       max-width: 500px;
       max-height:  auto;
       margin:  auto;
    }

    #form-title{
        color: white;
    }

    .contact-submit{
        background-color: #D2691E;
        color: white;
        
    }

    .contact-submit:hover{
        
         color: white;
     }

     input, textarea{
         background: #dbd7d4;
    }

    label{
        color: white;
    }
     
</style>
<section class="contact-section">
<div class="container form-box">
    <form method="post" novalidate>
    <h6 id="form-title">Please fill in the form below to contact us</h6>
    {% csrf_token %}
    {{ form|crispy }}
    <center><button type="submit" class="btn contact-submit"><b>Submit</b></button></center>
    <br>
    <br>
  </form>
</div>
    
</section>
{% endblock %}