{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<style>

    .contact-section{
      
      
        /* margin-left:auto;
       margin-right: auto; */
        background-image: linear-gradient(to right,saddlebrown, chocolate) ;
    }
    form{
       width: 50%;
       margin-left:auto;
       margin-right: auto;  
    }
    

    #form-title{
        color: wheat
    }

    .contact-submit{
        background-color:#DEB887;
        color: white;
    }

     .contact-submit:hover{
         background-color: #D2691E;
     }
  
</style>
<section class="contact-section">
<div class="form-box">
    <form method="post" novalidate>
      <h3 id="form-title">Please fill in the form below to contact us</h3>
    {% csrf_token %}
    {{ form|crispy }}
    <center><button type="submit" class="btn contact-submit"><b>Submit</b></button></center>
    <br>
    <br>
  </form>
</div>
    
</section>
{% endblock %}