{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap.js' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}">
    <link rel="stylesheet" href="{% static 'js/dropdown.js' %}">
    <link rel="stylesheet" href="{% static 'js/collapse.js' %}">

    
</head>

<body class="allbody">
        <nav class="navbar navbar-expand-lg navbar-custom">
            <a class="navbar-brand customlink" href="#">
                <em><b>Ia<strong id="mybrand">t</strong>um hotels</b></em></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link customlink" id=" homelink" href="{% url 'index' %}">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  customlink" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  customlink" href="{% url 'accommodation' %}">Acommodation</a>
                    </li>
                     <li class="nav-item">
                         <a class="nav-link  customlink" href="{% url 'contact' %}">Contact</a>
                     </li>

                </ul>
            </div>
        </nav>
   
 
    {% block content%}

    {% endblock %}

<section id="testimonial">
    <div class="container text-center revs">
        <h2 class="font-weight-bold mytitle">Testimonials</h2>
        <hr class="hrStyle">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active mt-4">
                    <p>"heyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy"</p>
                    <p class="text-muted">Jone Doe</p>
                </div>
                 <div class="carousel-item">
                     <p>"Yessssssssssssssssssssssssssssssssssssssss"</p>
                     <p class="text-muted">Jone Doe</p>
                 </div>

                 <div class="carousel-item">
                     <p>"heloooooooooooooooooooooo"</p>
                     <p class="text-muted">Jone Doe</p>
                 </div>
            </div>
            <a href="#carouselExampleControls" class="corousel-control-prev" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a href="#carouselExampleControls" class="corousel-control-next" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>

<footer>
    <div class="footer myfooter">
            <div id="contactme" >
                <p><b class="customlink">.....</b></p>
               
                    <a href="#"> <img class="contacimgs" src="{% static 'images/twitter.png' %}" width="15" height="15"
                            alt="twitter"></a>
                            <a href="#"> <img class="contacimgs" src="{% static 'images/fb.png' %}" width="15"
                                    height="15"
                                    alt="twitter"></a>
                                    <a href="#"> <img class="contacimgs" src="{% static 'images/ig.png' %}" width="15"
                                            height="15" alt="twitter"></a>
                                            <br>
                                            <p><em class="customlink mt-3">iatumhotels.co.ke</em><br>
                                              <p>
                                                  <h4 class="customlink"><b>+254 307 00000</b></h4>
                                              </p>
                                            <em class="customlink mt-3">your satisfaction, our joy</em></p>
               
            </div>
        </div>


    </div>
</footer>

</body>

</html>