{% extends 'forms.html' %}

{% load static %}

{%  block title %}home {%  endblock%}

{%  block content %}
<style>
    .textbody{
    font-family: 'Indie Flower',cursive;
     position: absolute;
    color: white;
    top: 40%;
    left: 40%;
}
.card-title{
  color: rgb(126, 64, 22);
  font-family: 'Indie Flower',cursive;
  
}

#hotel-name{
   font-family: 'Dancing Script', cursive;
   font-size: 2rem;
}


</style>

<section class=top-barner>
  
  <br>
     <h2 class="textbody"> The <b class="firstletter">B</b>est Place For Your <b class="firstletter">A</b>ccommodation,
         <b class="firstletter">F</b>ood and <b class="firstletter">L</b>uxury </h2>
</section>
<br>
<section class="middle-barner">
    <center><h4 class="card-title"><u><b>Our Services</b></u></h4></center>
    <div class="container">
  <div class="row">
    <div class="col-sm">
     <div class="card" style="width: 27rem; height: 18rem; border: none;">
          <center><h3 class="card-title">Food</h3></center> 
  <div class="card-body">
   <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="{% static 'images/f1.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
       <img src="{% static 'images/food3.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
       <img src="{% static 'images/f6.jpg' %}" class="d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
       <img src="{% static 'images/rice.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
  </div>
</div>
    </div>
    <div class="col-sm">
     
    </div>
    <div class="col-sm">
    <div class="card" style="width: 27rem; height: 18rem; border: none;">
     <center><h3 class="card-title">Luxury</h3></center> 
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="{% static 'images/spa3.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
       <img src="{% static 'images/spa1.jpg' %}" class="d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
       <img src="{% static 'images/pool.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
       <img src="{% static 'images/spool3.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
 

</div>
    </div>
  </div>
</div>
</section>
<br>
<br>
<br>
    
 </div>
 <div >


  


{%  endblock%}