{% extends 'forms.html' %}

{% load static %}

{%  block title %}home {%  endblock%}

{%  block content %}

 <div class="midbar">
     <h2 class="textbody"> The <b class="firstletter">B</b>est Place For Your <b class="firstletter">A</b>ccommodation,
         <b class="firstletter">F</b>ood and <b class="firstletter">L</b>uxury </h2>




 </div>
 <div id="flex-container">
     <div class="item">
          <h4 class="display text-center mytitle">Accomodation</h4>
         <img src="{% static 'images/hotelpic.jpeg' %}" width="300" height="300" alt="food">
     </div>

     <div class="item">
         <h4 class="display text-center mytitle">food</h4>
         <img src="{% static 'images/butter.jpeg' %}" width="300" height="300" alt="food">
     </div>

     <div class="item">
          <h4 class="display text-center mytitle">Luxury</h4>
         

         <div id="myCarousel" class="carousel slide" data-ride="carousel">
             <!-- Carousel indicators -->
             <ol class="carousel-indicators">
                 <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                 <li data-target="#myCarousel" data-slide-to="1"></li>
                 <li data-target="#myCarousel" data-slide-to="2"></li>
             </ol>
             <!-- Wrapper for carousel items -->
             <div class="carousel-inner">
                 <div class="carousel-item active">
                     <img src="{% static 'images/ferns.jpeg' %}" width="300" height="300" alt="food">
                 </div>
                 <div class="carousel-item">
                      <img src="{% static 'images/butter.jpeg' %}" width="300" height="300" alt="food">
                 </div>
                 <div class="carousel-item">
                     <img src="{% static 'images/hotelpic.jpeg' %}" width="300" height="300" alt="food">
                 </div>
             </div>
             <!-- Carousel controls -->
             <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                 <span class="carousel-control-prev-icon"></span>
             </a>
             <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                 <span class="carousel-control-next-icon"></span>
             </a>
         </div>
     </div>
     
 </div>



{%  endblock%}