* {
    margin: 0px;
    padding: 0px;
}

.navbar-custom {
    position: fixed;
    background-color: rgb(126, 64, 22);
}

a {
    color: whitesmoke;
}

a:hover {
    color: white;
    background-color: wheat;
    text-decoration: none;

}

.mytitle {
    color: goldenrod;
}

.customlink {
    color: white;
}

#mybrand {
    color: goldenrod;
}

.midbar {
    position: relative;
    width: 100%;
    height: 500px;
    background: url('/static/images/whitebed.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

}

.textbody {
    position: absolute;
    color: white;
    top: 40%;
    left: 40%;
}

#foodadvert {
    position: absolute;
    color: white;
    top: 45%;
    left: 80%;

}

.firstletter {
    color: goldenrod;
}

.revs {
    padding: 90px;
}

.carousel-indicators {
    margin: -20px;
}

.carousel-indicators line {
    border: 1px solid goldenrod;
    margin: -20px;
}

.carousel-indicators .active {
    background: ghostwhite;
}

.myfooter {
    width: 100%;
    height: 200px;
    background-color: rgb(126, 64, 22);
}

#contactme {
    text-align: center;
}

.custom-alltitles {
    color: rgb(126, 64, 22);

}

#flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.item {
    margin: 25px;
    flex: auto auto
}

#sidemenu {
    text-align: center;
}

.roomlisting {
    margin-left: 30px;
}

li {
    list-style-type: none;
}


.disclists {
    padding-top: 20px;
    list-style-type: disc;

}


input, textarea {
    width: 50%;
    box-shadow: 2px 2px gray;
    display: flex;
    
}

form {
    margin-left: 20px;
}

label{
    color: goldenrod;
}

#btncontactme{
    margin-left: 200px;
}
